<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%level] %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Disable MongoDB driver logs -->
        <Logger name="org.mongodb.driver" level="off" additivity="false" />

        <!-- Root logger configuration -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>